html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* should be in theme.js someday */
.MuiInputLabel-shrink {
  font-size: 13px !important;
  line-height: 18px !important;
  transform: translate(16px, 8px) scale(1) !important;
  color: #71747A !important;
}

.grid {
  visibility: hidden;
}
